.chunky {
	min-height: 60px;
	line-height: 60px;
	max-height: 60px;
	margin: 10px;
}

.show-grid {
	background-color: #eee;
}

.show-grid:hover {
	background-color: #ddd;
}

.thingimg {
	max-height: 50px;
	min-height: 50px;
}
