body {
	padding-left: 20px;
	padding-right: 20px;
}

.cursor {
	cursor: pointer;
}

.chunky {
	min-height: 50px;
	line-height: 50px;
	margin: 10px;
}

.index-grid {
	margin: 2px;
	margin-left: 2px!important;
	min-width:250px;;
	padding: 2px;
	text-align: center;
}

.show-grid {
	background-color: #eee;
}

.show-grid:hover {
	background-color: #def;
}

.smallimg {
	width: 100px;
	min-width: 100px;
}

.largeimg {
	min-height: 100px;
	min-width: 50px;
}

.done, .done:hover {
	background-color: rgba(0, 254, 0, 0.34);
}

.filler {
	width: 100%;
	height: 100%;
	margin: 0;
}

.checkitemrow {
	margin: 0;
	padding: 0;
	width:100%;
	height:100%;
}

.no-bottom-margin {
	margin-bottom: 0px;
}

.thumbnail {
	border: none!important;
}

.index_thumbnail {
	max-height: 100px;
	width: auto!important;
	min-width:200px;
}

.index_thumbnail img {
	border: none!important;
}

