.cursor {
	cursor: pointer;
}

.chunky {
	min-height: 50px;
	line-height: 50px;
	margin: 10px;
}

.show-grid {
	background-color: #eee;
}

.show-grid:hover {
	background-color: #def;
}

.smallimg {
	max-height: 50px;
	min-height: 50px;
	min-width: 50px;
}

.largeimg {
	min-height: 100px;
	min-width: 50px;
}

.done {
	background-color: rgba(0, 254, 0, 0.34);
}

.filler {
	width: 100%;
	height: 100%;
	margin: 0;
}

.checkitem {
	padding: 5px;
	padding-left: 0px;
	margin-left: 10px;
	padding-right: 15px;
}

.no-bottom-margin {
	margin-bottom: 0px;
}

.left-inset {
	padding-left: 10px;
}

