{% extends "templates/base.html" %}
{% load staticfiles %}
{% block body %}
    <div>
      <form action="{% url 'redirect_to_list' %}" method="post">
        {% csrf_token %}
        {% load bootstrap %}
        {{ form|bootstrap }}
        <div class="index-sliders">
        {% for x in things %}
          {% if not forloop.counter|divisibleby:2 %}
            {% if forloop.counter != 0 %}
            </div>
            {% endif %}
            <div class="row-fluid">
          {% endif %}
              <div class="span2 index-grid show-grid">
                  <div class=" thumbnail index_thumbnail">
                    <img src="{% static x.path %}"></img>
                  </div>
                  <input type="range" class="index_slider" name="{{x.type}}" min="0" max="10" value="{{x.default}}" style="height: 50px">
              </div>
        {% endfor %}
            </div>
          </div>
        </div>
        <input class="btn btn-primary btn-large" type="submit" value="Search" />
      </form>
    </div>
{% endblock %}

