{% extends "templates/base.html" %}
{% block body %}
	<div class="row-fluid">
	<ul class="nolist">
	{% for x in things %}
		{% block item %}
		<li class="chunky">
			<a href="#" onclick="$(this).parent().children('.description').toggle(); return false;">
				<img src="{{ x.image }}" style="height: 25px;"></img>
			</a>
			{{ x.common_name }}
			<input type="checkbox" class="right">
			<div class="well description" style="display: none;">
				<div>
				{{ x.description }}
				</div>
				<img src="{{ x.image }}"></img>
				<div style="clear:both;"></div>
			</div>
		</li>
		{% endblock %}
	{% empty %}
	<p>Sorry, no animals for this area!</p>
	{% endfor %}
	</ul>
	</div>
{% endblock %}

